/* barra de navegación*/

.navbar{
    padding:2rem;
    background-color:#7996d4;
}
.navbar-collapse {
    align-items: center;
    justify-content:space-between;
}
/*seccion adaptable*/
@media screen and (max-width: 768px){
    .navbar-brand{
        display:none;
    }
}
@media screen and(min-width: 400px){
    
}
/*experiencia*/
*.experiencia {
  padding:40px;
  
}
/*.experiencia .row div{
  height: 250px;
  background-color: purple;
  border: 3px solid orange
}*/
.experiencia-titulo{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia .columna{
  padding:20px;
  border:2px solid #8080804d;
  /*display:flex;*/
  /*flex-direction: column;*/
 /* justify-content:space-evenly;*/
  transition: all 0.2s ease-in;
}
.experiencia .columna:hover{
  color:white;
  background-color: #1b1b32;
}
.experiencia i{
  font-size: 2.5 rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius:100px;
  /*width: 50px;
  height: 50px;*/
}

.badges-contenedor{
  font-size:20px;
  font-weight: bold;
  margin: 10px 0;

}
.badges{
  margin: 5px;

}
/*directrices generales*/
section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
h1{
  font-size:2.5 rem;
  font-family: "Rubik Dirt", system-ui;
  
}

.seccion-oscura{
  background-color:#325f9b;
  color:white;
  background-image: url('pagina2.gif');
  background-color:#f5f7f5;
  min-height:450px;
  text-align: justify;
  background-size: cover;
  
}
.seccion-clara{
  color:black;
  background-color: white;;
}

.seccion-titulo{
  font-size: 2rem;
  padding:15px 0;
  font-family: "Rubik dirt", system-ui;
}
.seccion-texto{
  font-size: 1.2 rem;
}
.seccion-descripcion{
  font-size: 1.2 rem;
  color: #584e4e;
}
.texto-negro{
  color:black;
}
.texto-blanco{
  color:white;
}
.btn-info{
  font-size: 1.1 rem;
  margin:20px;
}
/*seccion principal (hero)*/
.hero{
    background-image: url('tecnologia.gif');
    background-color:#f5f7f5;
    min-height:450px;
    text-align: center;
    background-size: cover;
}

.hero-principal{
  padding:3rem;
  
 
}
.perfil{
  width:200px;
  height: 200px;
  border-radius:50%;
  margin:20px;
}
.hero-principal h2{
  font-size:1.5 rem;
  color:#615151;
}
@media screen and(min-width:700px){
.hero-inferior-imagen{
  max-width: 600px;
}
}

/*sobre mi*/
.sobre-mi{
  height: 500px;
  padding:10px
}

.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

/*proyectos*/

.proyectos-recientes{
  padding:40px;
  text-align: center
}
.proyectos-recientes img{
  height:100%;
  width:100%;
  padding:10px;
  border-radius: 10px;
  display:block;
  transition: all 0.2s ease;
  background-color: #abcdef
}
.proyectos-contenedor{
  padding-top:60px;
  margin-bottom: 40px;
  
}
.proyecto{
  position:relative;
}
.proyecto img{
  height:250px;
  width:350px
}
.overlay{
  transition: all 0.2s ease;
  opacity: 0;
  position:absolute;
  top:4vh;
  left:6vw;
  transform:traslate(-50%, -50%);
  text-align: center;
}
.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
.proyecto:hover img{
  opacity: 0.2;
}
.proyecto:hover .overlay{
  opacity: 1;
}
.overlat .iconos-contenedor{
  display:flex;

}
.overlay i{
  color:black;
  font-size: 60px;
  margin:10px
}
/*seccion de boton*/
.botoncito {
  display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
/*articulos*/
.articulos{
  min-height: 500px;
  padding:30px;
}
.articulos .card{
  width:80%;
  max-width:600px;
  margin:20px;

}
.articulos .card-header{
  font-weight: bold;
}


